@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html, body, #root {
    height: 100%;
  }
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components{
  .btn{
    @apply py-1 border-2 border-black rounded-full font-bold
  }
  .input{
    @apply border-2 relative border-black rounded-lg w-full h-10 text-center
  }
}

@layer utilities 
{
  .timeColon {
    animation: blink 2s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
}