@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html, body, #root {
    height: 100%;
  }
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components{
  .btn{
    @apply py-1 border-2 border-black rounded-full font-bold
  }
  .input{
    @apply border-2 relative border-black rounded-lg w-full h-10 text-center
  }
  .border-r-1{
    border-right: 1px solid black;
  }
  .border-l-1{
    border-left: 1px solid black;
  }
}


@layer utilities 
{
  /*? animation for client reservation maker time blinking colon*/
  .timeColon {
    animation: blink 2s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*? animation for admin extras types top panel*/
  .animate-selection {
    transition: transform 0.5s ease-in-out;
  }

  /* Define a custom class to style the scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  @apply w-1 h-1.5
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  
}